html {
    top: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-image: url(img/patt.png);
    background-repeat: repeat;
}

header {
    background-color: rgba(209, 219, 236, 0.75);
    display: block;
    height: 90px;
}

.container {
    max-width: 1200px;
    margin: auto;
    height: 45px;
    padding-top: 15px;
    opacity: 75%;


}

.align-right {
    float: right;
    display: inline-block;
}

.align-right>* {
    display: inline-block;
    float: left;
}

.logo {
    float: left;
    padding-top: 10px;
}

a {
    font-family: "font/Roboto-Light.ttf";
    text-decoration: none;
    font-size: 21px;
    color: #2c71b8;
    font-weight: 300;
}

ul {
    margin-top: 5px;
}

li {
    list-style-type: none;
    border-right: 1px solid #2c71b8;
    text-align: center;
    position: relative;
    float: left;
    display: block;
    width: 144px;
    height: 50px;
    line-height: 50px;
}

li:first-child {
    border-left: 1px solid #2c71b8;
}


* {
    box-sizing: border-box;
}

form {
    width: 200px;
    margin: 10px 30px;
    border: 1px solid #2c71b8;
    position: relative;
}

input,
button {
    border: none;
    outline: none;
}

input::placeholder {
    color: #2c71b8;
}

input {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    font-family: "font/Roboto-Light.ttf";
    text-decoration: none;
    font-size: 21px;
    color: #2c71b8;
}

button {
    height: 30px;
    width: 30px;
    top: 5px;
    right: 5px;
    background-color: #2c71b8;
    position: absolute;
}

.cart-right {
    float: right;
    position: relative;
    padding: 5px;
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.cart {
    background-color: #ffffff;
    padding: 10px 11px;
    text-align: center;
}

.cart-right .count {
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: #2c71b8;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    line-height: 20px;
}